.main {
    display: flex;
    flex-direction: row;
    gap: 3rem;
}

.module__page__container {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    width: 35%;
    padding: 5px;
    margin: 5px;
}

.module__header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border: solid 2px var(--color-border-grey-1);
    padding: 1rem;
    margin: 2px;
    border-radius: 1rem;
}

.module__title {
    font-size: var(--font-size-md);
    font-weight: var(--font-weight-black);
    color: var(--color-text-grey);
}

.module__description {
    font-size: var(--font-size-xxl);
    font-weight: var(--font-weight-semibold);
}

.module__lessons__list {
    border: solid 2px var(--color-border-grey-1);
    margin: 2px;
    border-radius: 1rem;
}

.lessons__label {
    padding: var(--spacing-sm);
    font-size: var(--font-size-xl);
    font-weight: var(--font-weight-black);
}

.lesson__item {
    border-top: solid 1px var(--color-border-grey-1);
    padding: 15px;
    font-size: 16px;
    font-weight: 400;
}

.lesson__item:hover {
    background-color: #0070f3;
    border-radius: 5px;
    cursor: pointer;
}

.active {
    background-color: #0070f3;
    border-radius: 5px;
}

.lesson_frame__container {
    width: 65%;
    padding: 5px;
    margin: 5px;
    display: flex;
    flex-direction: column;
}

.completed_badge {
    color: #4caf50;
    font-size: 14pt;
    font-weight: 500;
    margin-right: 8px;
}

.progress_circle {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 130px;
    height: 130px;
}
